logFile = "/home/setupuser/lies/log/liesMain.log"
maxBytes = 5120000
backupCount = 3

dbname = "lies"
user = "liesuser"
host = "192.168.240.57"
password = "liesuser275"
table = "t_lightning_21"

fdir = "/home/setupuser/lies/data/lsd_2021*csv"

